body {
    /*background-color:;*/
}



main{
    padding-left: 20%;
}

p {
    width:65px;
    
    

}


/*.img2 {*/
/*    float:right;*/
/*    width:30em;*/
/*   padding-bottom:1000px;*/
/*   bottom: 59em;*/
/*   position:relative;*/
/*}*/

/*.img3{*/
/*    float: right;*/
/*    width:30em;*/
/*   padding-bottom:1000px;*/
/*   bottom: 39em;*/
/*   position:relative;*/
/*   left:30em;*/
 
/*}*/

/*p {*/
/*   padding:20px;*/
/*}*/


.text2{
    margin-right: auto;
    margin-left:auto;

}

img{
    
    width:100%;
    height;
}


