/*body {*/
/*    background-color:;*/
/*}*/

header{
    text-align: center;
}

main{
    padding: 20px;
}

p {
    width:65px;
    

}


.img2 {
    float:right;
    width:30em;
   /*padding-bottom:1000px;*/
   bottom: 59em;
   position:relative;
}

.img3{
    float: right;
    width:30em;
   /*padding-bottom:1000px;*/
   bottom: 39em;
   position:relative;
   left:30em;
 
}

