
body {
    margin: 0;
    position: relative;
    bottom: 0;
}

/*header {*/
/*    top:0;*/
/*}*/

.nav {
    display: flex;
    list-style-type: none;
    margin-top: -10px;
    padding: 0;
    /*overflow: hidden;*/
    background-color: gray;
    font-size: 150%;
    width: 100%;
    height: 75px;
    z-index: 12;
    position: relative;
}

.bar li {
    /*float:left;*/
    margin-right: 50px;
}

li a {
    color: white;
    text-align: center;
    text-decoration: none;
    height: 50px;
    line-height: 80px;
    white-space: nowrap;
    list-style-type: none;
    margin-left: 20px;
}
.slideshow {
    text-align:center;
    width:100%;
}

.myslides {
    width:100%;
    height:400px;
    margin-top:-24px;
}
.name {
    text-align:center;
}
.form {
    display:flex;
    justify-content:space-around;
}
.short {
    width:48%;
    
}
.littlecontact {
    text-align:center;
}
footer {
        background-color: gray;
        font-size: 150%;
        width: 100%;
        height: 120px;
        position: absolute;
        margin-top: 20px;
        text-align:center;
        color:white;
        
}

h1 {
    border-style: solid;
    text-align: center;
    border-width: thick;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

/*.button:hover {*/
/*    background-color: #A9A9A9*/
/*}*/

/*.button:active {*/
/*  background-color: #A9A9A9;*/
/*  box-shadow: 0 5px #666;*/
/*  transform: translateY(4px);*/
}

/*main {*/
/*    height:80%;*/
/*}*/

/*Fill out form*/

body {
  font: normal 18px/1.5;
  padding: 50px 0;
}

.fillout {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.fillout * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: grey;
  color:white;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
  cursor: pointer;
  font-size: 25px;
}

.flex-inner li {
  width: 100px;
}

/*Fill out form*/