@import url('https://fonts.googleapis.com/css?family=Bellefair');


img {
  /*width:100%;*/
}

.service2 {
  display:flex;
  flex-direction:column;
  /*padding:2%;*/
}

.services {
  display:flex;
  justify-content:space-around;
  justify-content:flex-start
  padding-left:2em;
}


.third_text_section {
    padding-right:1em;
    padding-top:2em;
    margin-left:auto;
      width: 200%;
      padding-left:2em;
} 


.first_text_section {
        justify-content:flex-start;

    /*padding:2%;*/
    justify-content:flex-start;

}

.secondlist {
    justify-content:flex-start;
}

li {
        justify-content:flex-start;

}

.service-img{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    font-family: 'Bellefair', serif;

}

html {
        font-family: 'Bellefair', serif;

}

.heading1{
    text-align:center;
}

.logo {
    width:75px;
}

.texts {
    padding-left:2em;
    font-size:118%;
    padding-right:2em;
    font-size:140%;
    justify-content:flex-start;
}

@media screen and (max-width: 1080px) and (min-width: 320px) {
  .services {
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      padding-left:2em;
            justify-content:flex-start;

      /*padding-left:2em;*/
      justify-content:flex-start;
  }
  .service2 {
      display:flex;
      flex-direction:row;
      /*padding-left:2em;*/
      flex-wrap:wrap;
      justify-content:flex-start;
  }
}

.servicesideimg {
    padding-bottom:2em;
}

.service-second-img {
    padding-top:5em;
}