@import url('https://fonts.googleapis.com/css?family=Bellefair');


img {
  width:100%;
}

.service2 {
  display:flex;
  flex-direction:column;
  padding:2%;
}

.services {
  display:flex;
  justify-content:space-around;
}

.third_text_section {
    padding-right:1em;
    padding-top:2em;
    margin-left:auto;
      width: 200%;
  
}

.first_text_section {
    padding:2%;
}

.second_text_section {
    padding:2%;
}

.service-img{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    font-family: 'Bellefair', serif;

}

.heading1{
    text-align:center;
}

.logo {
    width:75px;
}

p {
    font-size:140%;
}

@media screen and (max-width: 1080px) and (min-width: 320px) {

}