@import url('https://fonts.googleapis.com/css?family=Bellefair');


img {
  width:100%;
}

.service2 {
  display:flex;
  flex-direction:column;
  padding:2%;
}

.services {
  display:flex;
  justify-content:space-around;
}

.third_text_section {
    padding-right:1em;
    padding-top:2em;
    margin-left:auto;
      width: 200%;
  
}

.first_text_section {
    padding:2%;
}

.second_text_section {
    padding:2%;
}

.service-img{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    font-family: 'Bellefair', serif;

}

.heading1{
    text-align:center;
}

.nav {
    display: flex;
    list-style-type: none;
    margin-top: -10px;
    padding: 0;
    /*overflow: hidden;*/
    background-color: gray;
    font-size: 150%;
    width: 100%;
    height: 75px;
    z-index: 12;
    position: relative;
}

.bar li {
    /*float:left;*/
    margin-right: 50px;
}

li a {
    color: white;
    text-align: center;
    text-decoration: none;
    height: 50px;
    line-height: 80px;
    white-space: nowrap;
    list-style-type: none;
    margin-left: 20px;
}

footer {
        background-color: gray;
        font-size: 150%;
        width: 100%;
        height: 120px;
        text-align:center;
        color:white;
        bottom:0;
}       

.logo {
    width:75px;
}

p {
    font-size:140%;
}