
body {
    margin: 0;
    position: relative;
    bottom: 0;
}

/*header {*/
/*    top:0;*/
/*}*/
.active {
    color: white;
}

.nav {
    display: flex;
    list-style-type: none;
    margin-top: -10px;
    padding: 0;
    /*overflow: hidden;*/
    background-color: #CFD5D3;
    font-size: 150%;
    width: 100%;
    height: 75px;
    z-index: 12;
    position: relative;
    margin-bottom:0;
}

.bar {
    /*float:left;*/
    margin-right: 20px;
}

li a {
    color: #000042;
    text-align: center;
    text-decoration: none;
    height: 50px;
    line-height: 80px;
    white-space: nowrap;
    list-style-type: none;
    /*margin-left: 20px;*/
}
h1 {
    font-size:3em;
    text-align:center;
}
.selection {
    font-size:2em;
    margin-top:-20px;
}
.slideshow {
    text-align:center;
    width:100%;
}

.myslides {
    width:100%;
    height:400px;
    margin-top:-24px;
}
.name {
    text-align:center;
}
.form {
    display:flex;
    justify-content:space-around;
}
.short {
    width:48%;
    
}
.littlecontact {
    text-align:center;
}
.icon {
    color:#3C5A9A;
    /*box-shadow: 0px 3px 10px rgba(0,0,0,.25);*/
}
.icon2 {
    color:#55A8ED;
    margin-left:.5em;
    /*box-shadow: 0px 3px 2px rgba(0,0,0,.25);*/
    /*border-radius:3px;*/
}
.twitter {
    font-size:2em;
}
.icon3 {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  /*box-shadow: 0px 3px 10px rgba(0,0,0,.25);*/
  color:white;
  border-radius: 5px;
  padding-right:.07em;
  padding-left:.07em;
  margin-left: .5em;
}
footer {
        background-color: #CFD5D3;
        font-size: 150%;
        width: 100vw;
        height: 120px;
        width: 100%;
        height: 9em;
        position: absolute;
        margin-top: 20px;
        text-align:center;
        color: #000042;
        
}
footer a {
    text-decoration:none;
    color: #000042;
}
p {
    text-align: center;
}

h2 {
    text-align: center;
}

button {
  background-color: white;
  color:black;
  padding: 3% 3%;
  font-size: 150%;
  transition-duration: 3s;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  align-self: center;
  box-shadow: 0 9px #000;
}

.button:hover {
    background-color: #A9A9A9
}

.button:active {
  background-color: #A9A9A9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.flexbox {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    text-align:center;
}
.gallery {
    width:30%;
    margin-bottom:1em;
}
.pics {
    width:80%;
}
/*main {*/
/*    height:80%;*/
/*}*/
.nav-toggle {
  display:none;
}

@media (max-width:450px) {
  

  .nav-item {
    display:block;
  }

  .nav-toggle {
    display:inline;
  } 

  .mobile-nav-hidden {
    display:none;
  }
}