@import url('https://fonts.googleapis.com/css?family=Bellefair');
body {
  margin: 0;
  position: relative;
  bottom: 0;
  font-family: 'Bellefair', serif;

}

html {
  font-family: 'Bellefair', serif;
}
.active {
  color: white;
}
.logo {
  line-height:5.7;
}
.nav {
  display: flex;
  list-style-type: none;
  margin-top: -10px;
  padding: 0;
  background-color:#D33044;
  font-size: 150%;
  width: 100%;
  height: 75px;
  z-index: 12;
  position: relative;
  margin-bottom: 0px;
}

li a {
  color: white;
  text-align: center;
  text-decoration: none;
  height: 50px;
  line-height: 80px;
  white-space: nowrap;
  list-style-type: none;
  margin-right: 20px;
}

h1 {
  font-size: 3em;
  text-align: center;
}

.text {
  font-size: 140%;
  margin-left: auto;
  margin-right: auto;
}

.formp {
  text-align: center;
}

.conbutton {
  text-decoration: none;
  border: 2px #000042 solid;
  background-color: #CFD5D3;
  border-radius: 5px;
  display: block;
  padding: 10px;
  width: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.twitter-timeline {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.txt_wrap {
  text-align:center;
}
.selection {
  font-size: 2em;
  margin-top: -20px;
  text-align: center;
}

.slideshow {
  text-align: center;
  width: 100%;
}

.myslides {
  margin-top: -24;
  width: 100%;
  height: 25em;
}

.name {
  text-align: center;
}

.form {
  display: flex;
  justify-content: space-around;
}

.short {
  width: 48%;
}

.littlecontact {
  text-align: center;
}

.icon {
  /*color: #3C5A9A;*/
  margin-right: .5em;
  /*box-shadow: 0px 3px 10px rgba(0,0,0,.25);*/
}

.icon2 {
  /*color: #55A8ED;*/
  margin-right: .5em;
  /*box-shadow: 0px 3px 2px rgba(0,0,0,.25);*/
  /*border-radius:3px;*/
}

.twitter {
  font-size: 2em;
}

/*.icon3 {*/

/*  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);*/
/*  color: white;*/

/*  border-radius: 5px;*/

/*  padding-right: .07em;*/

/*  padding-left: .07em;*/

/*  margin-left: .5em;*/
/*}*/
footer {
  background-color: #D33044;
  font-size: 150%;
  width: 100%;
  height: 8em;
  position: absolute;
  margin-top: 20px;
  text-align: center;
  color: #000042;
}

footer a {
  text-decoration: none;
  color: white;
}
.footer-text {
  color:white;
}
a:hover {
  color: white;
}

h2 {
  text-align: center;
}

.fillout {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.fillout * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer>li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer>li>label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer>li>label+*,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 9px 26px;
  border: none;
  background: grey;
  color: white;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
  cursor: pointer;
  align-self: center;
}

.button:hover {
  background-color: gray;
}


.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.gallery {
  width: 30%;
  margin-bottom: 1em;
}

.pics {
  width: 80%;
}

.nav-toggle {
  display: none;
}

.home {
  display: none;
}

@media (max-width:450px) {
  .nav {
    list-style-type: none;
    padding: 0;
    margin-top: -5px;
    background-color: #CFD5D3;
    font-size: 150%;
    width: 100%;
    height: 100%;
    z-index: 12;
    position: relative;
    /*margin-bottom:0;*/
    display: block;
  }
  li a {
    display: block;
    color: #000042;
    text-align: center;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    list-style-type: none;
  }
  .nav-item {
    display: block;
  }
  .nav-toggle {
    display: inline;
  }
  .mobile-nav-hidden {
    display: none;
  }
  .logo {
    display: none;
  }
  button {
    background-color: #CFD5D3;
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .form {
    display: block;
  }
  .short {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*margin:auto;*/
  }
  .myslides {
    width: 95%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    font-size: 1em;
  }
  .gallery {
    width: 40%;
  }
  .widget-container {
    width:80%;
  }
  footer {
  background-color: #CFD5D3;
  font-size: 150%;
  width: 100%;
  min-height: 9em;
  position: absolute;
  margin-top: 20px;
  text-align: center;
  color: #000042;
}
}
.fillout select {
  padding: 9px 8px;
  width: 150%;
  border: inherit;
  background-color: white;
}

.fillout select:focus {

    outline: hidden;
}

 
.text2{
  margin:auto;
  font-size:20px;
  
}

.text2{
   padding: 20px;
   margin:auto;

  outline: hidden;
}

.text2 {
  padding: 20px;

}


.img {
margin-right: auto;
margin-left: auto;
display:block;

}

.img2 {
  bottom: 17.5em;
  position: relative;

}

/*code for expanding img*/

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}


.text{
  
    padding: 20px;
    margin:auto;
  
}



/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* "X" to close out of image */

a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* "X" to close out of image */

a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
  top: 0px;
  margin-top:80px;
}

.img{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}





